<div *ngIf="produtoAlterar">
    <h2>Alterar Dados do Produto</h2>
    <label for="">Nome:
        <input type="text" [(ngModel)]="produtoAlterar.title">
    </label>
    <br/>
    <br/>
    <label for="">Preço:
        <input type="number" [(ngModel)]="produtoAlterar.price">
    </label>
    <br/>
    <br/>
    <label>Descrição<br/>
        <textarea [(ngModel)]="produtoAlterar.description"></textarea>
    </label> 
    <br/>
    <br/>   
    <button (click) = "recarregar()">Cancelar</button>
    <button (click) = "alterar()">Confirmar Alteração</button>
</div>
